MONGO_URI=mongodb+srv://<USER>:<PASSWORD>@<CLUSTER>.mongodb.net/foodordering

JWT_SECRET="<NEW_JWT_SECRET>"

SECRET_KEY="<NEW_STRIPE_SECRET_KEY>"

CLOUDINARY_CLOUD_NAME=<YOUR_CLOUD_NAME>
CLOUDINARY_API_KEY=<NEW_CLOUDINARY_API_KEY>
CLOUDINARY_SECRET_KEY=<NEW_CLOUDINARY_SECRET>

PORT=5000
JWT_EXPIRES=7d
COOKIE_EXPIRE=7

REACT_URL="https://yourfrontendurl.com"
