---
- name: Create backend secret from .env file
  hosts: localhost
  connection: local
  gather_facts: false

  collections:
    - kubernetes.core

  tasks:
    - name: Create secret for backend app
      kubernetes.core.k8s:
        state: present
        force: true
        definition:
          apiVersion: v1
          kind: Secret
          metadata:
            name: backend-secret
            namespace: default
          type: Opaque
          data:
            .env: "{{ lookup('file', 'Backend/config/.env') | b64encode }}"
