---
- name: Install Argo CD
  hosts: localhost
  connection: local
  gather_facts: no

  tasks:
    - name: Create ArgoCD namespace
      kubernetes.core.k8s:
        api_version: v1
        kind: Namespace
        name: argocd
        state: present

    - name: Apply ArgoCD install manifests
      kubernetes.core.k8s:
        state: present
        src: https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml

    - name: Patch ArgoCD server service to LoadBalancer 
      kubernetes.core.k8s:
        state: patched
        definition:
          apiVersion: v1
          kind: Service
          metadata:
            name: argocd-server
            namespace: argocd
          spec:
            type: LoadBalancer
